automation-joelgranberg/backend-tests/node_modules/
automation-joelgranberg/hotel-vue/node_modules/



/home/joel/Desktop/websites/hotel/automation-joelgranberg/backend-tests/node_modules/*
/home/joel/Desktop/websites/hotel/automation-joelgranberg/hotel-vue/node_modules/*